
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

:root {
  --primary: #1aac83;
  --error: #e7195a;
  --shadow-p: 0 0 12px rgb(207, 195, 195);
  --shadow-s: 0 0 6px rgb(121, 110, 110);
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 19px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.workout-details {
  /* changes */
  max-width: 65vw;
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: var(--shadow-p);
}
.workout-details:hover {
  box-shadow: var(--shadow-s);
}
.workout-details h4 {
  /* changes */
  overflow: hidden;
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Workout form */

label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--shadow-p);
}

button.logout {
  background-color: var(--error);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--shadow-p);
}

button:hover {
  box-shadow: var(--shadow-s);
}

div .error {
  text-align: center;
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error); 
  border-radius: 4px;
  margin: 20px 0;
}

div .success {
  text-align: center;
  padding: 10px;
  background: #f9f7f7;
  border: 1px solid var(--primary);
  color: var(--primary); 
  border-radius: 4px;
  margin: 20px 0;
}

input .error {
  border: 1ps solid var(--error);
}

.material-symbols-outlined {
  position: absolute;
  top : 15px;
  right: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background: #f60303;
}

.material-symbols-outlined:hover {
  color: #ddd;
  background: var(--error);
  box-shadow: var(--shadow-s);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
/* auth forms */
form.signup h3, form.login h3 {
  text-align: center;
} 

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: var(--shadow-p);
}
